{% extends 'base.html.twig' %}

{% block title %}Oups !{% endblock %}

{% block body %}

<header  class="secondary">
<div>

<h1> Sport Escape </h1>

<ul> 

<li> <a href="{{ path('home')}}"> Accueil </a> </li>
<li> <a href="{{ path('AllSports')}}"> Voir les sports </a> </li>
<li> <a href="{{ path('panier_index')}}">Votre panier</a> </li>
{% if not app.user %}
<li> <a href="{{ path('security_login')}}">  Se connecter  </a> </li>
 <li><a href="{{ path('security_registration')}}">  Creer un compte </a> </li> 
{% else %}
<li> <a href="{{ path('profil', {'idUser': app.user.id } )}}">Votre profil</a> </li>
<li> <a href="{{ path('security_logout')}}"> Se deconnecter  </a> </li>
{% endif %}
</ul>
 </div>


</header>

    <section>

        <div>
           <p>Vous avez déjà entré enregistré cet horaire. Il doit se trouver soit dans votre panier, soit dans vos reservations </p>
           <a href="{{ path('AllSports' )}}">Retour</a>
           <a href="{{ path('panier_index'  )}}">Voir mon panier</a>

        </div>

    </section>



    <footer> 
        <p> Ce site est un projet purement personnel d'entrainement au framework Symfony </p>
        <p> This is a fully personnal project made for training the Symfony framework</p>
         <a href="{{ path('admin')}}">  Administration  </a>

    </footer>





{% endblock %}
