{% extends 'base.html.twig' %}

{% block title %}Creer un compte{% endblock %}
{% block body %}


<header class="secondary">
<div>

<h1> Sport Escape </h1>

<ul> 

<li> <a href="{{ path('home')}}"> Accueil </a> </li>
<li> <a href="{{ path('AllSports')}}"> Voir les sports </a> </li>
<li> <a href="{{ path('panier_index')}}">Votre panier</a> </li>
{% if not app.user %}
<li> <a href="{{ path('security_login')}}">  Se connecter  </a> </li>
 <li><a href="{{ path('security_registration')}}">  Creer un compte </a> </li> 
{% else %}
<li> <a href="{{ path('profil', {'idUser': app.user.id } )}}">Votre profil</a> </li>
<li> <a href="{{ path('security_logout')}}"> Se deconnecter  </a> </li>
{% endif %}
</ul>
 </div>


</header>

<section class="sectionForm"> 

    <h2 class="titreRegistrationLogin"> Creer votre compte </h2>

    {{form_start(form)}}

    <div class="divForm"> 
        <label for="" class="labelFormLogin"> Adresse email </label>
        {{form_widget(form.username, {'attr': {'placeholder': 'Votre email'}})}}
    </div>

    <div class="divForm"> 
        <label for="" class="labelFormLogin"> Votre mot de passe </label>
        {{form_widget(form.password, {'attr': {'placeholder': 'Mot de passe'}})}}
    </div>

    <div class="divForm"> 
        <label for="" class="labelFormLogin"> Confirmation du mot de passe </label>
        {{form_widget(form.confirm_password, {'attr': {'placeholder': 'Répétez votre mot de passe'}})}}
    </div>

    <button type="submit" class="registrationLoginButton"> S'inscrire </button>

    {{form_end(form)}}

</section>

   <footer> 
        <p> Ce site est un projet purement personnel d'entrainement au framework Symfony </p>
        <p> This is a fully personnal project made for training the Symfony framework</p>
         <a href="{{ path('admin')}}">  Administration  </a>

    </footer>
{% endblock %}
